<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>클라이언트-서버 인터랙션 데모</title>
</head>
<body>
  <h1>클라이언트-서버 요청 실습</h1>

  <h2>GET 요청</h2>
  <form action="/calcResult" method="get">
    <p><strong>V1 </strong><input type="text" name = "v1" placeholder="입력"></p>
    <p><strong>V2 </strong><input type="text" name = "v2" placeholder="입력"></p>
    <button>계산</button>
  </form>
</body>
</html>
